<div class="top-bar m-2">
    <div class="left">
        <button class="btn btn-ar d-flex align-items-center gap-1">
            <i class="bi bi-arrow-repeat"></i>
        </button>
    </div>

    <div class="center d-flex justify-content-center align-items-center gap-2"></div>

    <div class="right">
        <button class="btn btn-ar d-flex align-items-center gap-1">
            <i class="bi bi-gear-fill"></i>
        </button>
    </div>
</div>

<div class="m-2 cards-container">
    <div class="card text-center">
        <div class="card-header">Nome do Sistema</div>
        <div class="card-body">
            <h5 class="card-title">Versão: 1.0.0</h5>
            <p class="card-text"><strong>Local: </strong>C:/webservices_hospedados/pasta_api</p>
            <a class="btn btn-primary"><i class="bi bi-capslock-fill"></i> Atualizar</a>
        </div>
        <div class="card-footer text-body-secondary">Atualizado em: 06/05/2026</div>
    </div>

    <div class="card text-center">
        <div class="card-header">Nome do Sistema</div>
        <div class="card-body">
            <h5 class="card-title">Versão: 1.0.0</h5>
            <p class="card-text"><strong>Local: </strong>C:/webservices_hospedados/pasta_api</p>
        </div>
        <div class="card-footer text-body-secondary">Atualizado em: 06/05/2026</div>
    </div>

    <div class="card text-center">
        <div class="card-header">Nome do Sistema</div>
        <div class="card-body">
            <h5 class="card-title">Versão: 1.0.0</h5>
            <p class="card-text"><strong>Local: </strong>C:/webservices_hospedados/pasta_api</p>
        </div>
        <div class="card-footer text-body-secondary">Atualizado em: 06/05/2026</div>
    </div>
</div>